body {
  --color-blue: #00a7e1;
  --color-red: #f06449;
  --color-yellow: #ffbc42;
  --color-dark: #0d1f2d;
  --color-dark-transparent: rgba(13 31 45/ 40%);
  --color-light: #f5f5f5;
  --max-width: 40ch;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  background-color: var(--color-dark);
  color: var(--color-light);
  align-items: center;
  font-size: 1rem;
}

header {
  display: block;
  margin-top: 0.5rem;
  width: 100%;
}

.widget {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  margin: auto;
  width: 100%;
  max-width: var(--max-width);
}

h2 {
  color: var(--color-yellow);
  margin-bottom: -0.5rem;
  text-align: center;
  padding-left: 1rem;
  padding-right: 1rem;
}

h3 {
  color: var(--color-red);
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.data-entry {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  margin: 1rem;
  max-width: 35ch;
  min-width: 16ch;
  padding: 1rem;
  border: 1px solid var(--color-light);
  border-radius: 5px;
}

.data-item {
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: space-between;
}

.data-item label {
  min-width: 20ch;
}

.data-item input {
  margin: 0 1rem;
  width: 8ch;
  text-align: right;
  background-color: var(--color-light);
  color: var(--color-dark);
  border-color: var(--color-red);
  font-weight: 500;
}

.data-item input:focus {
  outline-color: var(--color-yellow);
}

.copyright {
  color: var(--color-light);
  text-align: center;
  font-size: 0.8rem;
}

.aec-link {
  color: var(--color-blue);
  text-decoration: none;
  font-weight: 500;
}

.aec-contact-details {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 1rem;
  width: 100%;
  max-width: var(--max-width);
}

.aec-logo {
  width: 90px;
  height: 90px;
  margin: 0 auto;
}

.aec-location {
  font-size: 0.8rem;
  color: var(--color-yellow);
  text-align: left;
}

.aec-location a {
  font-size: inherit; /* Makes font size the same as .aec-location */
  color: inherit; /* Inherits the color from .aec-location */
  text-decoration: none; /* Optional: Removes underline from links */
}

#result {
  color: var(--color-blue);
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  align-items: center;
}

.flex-row-about {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: first baseline;
  gap: 2rem;
}

.open-modal {
  font-size: 1rem; /* Adjust size as needed */
  width: 1.4rem; /* Diameter of the round button */
  height: 1.4rem; /* Diameter of the round button */
  border-radius: 50%; /* Makes the button round */
  background-color: var(--color-dark); /* Uses the background color variable */
  color: var(--color-red); /* Uses the text color variable */
  border: 1px solid var(--color-yellow); /* Uses the border color variable */
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  outline: none;
  transition: background-color 0.3s ease; /* Smooth transition for hover effect */
}

.open-modal:hover {
  background-color: var(--color-light); /* Darker shade on hover */
  font-weight: bold; /* Makes the text bold on hover */
  border: 2px solid var(--color-red); /* Changes the border color on hover */
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  margin: 0 auto;
  width: 100%;
  max-width: var(--max-width); /* Matches the .widget class */
  top: 10%;
  left: 50%;
  transform: translate(-50%, 0%); /* Centers the modal */
  background-color: var(--color-light);
  border: 1px solid var(--color-yellow);
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(255 255 255/ 40%); /* Optional: adds a subtle shadow */
}

/* Modal Content */
.modal-content {
  background-color: var(--color-light);
  color: var(--color-dark);
  margin: auto;
  padding: 5px;
  width: 90%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

@media screen and (max-width: 400px) {
  .data-item {
    display: flex;
    flex-direction: column;
  }

  .data-item input {
    margin: 0.1rem 0 0.7rem 1ch;
  }
}
